<nav class="navbar navbar-expand-lg navbar-light bg-dark text-white fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand text-white fs-6"><img src="assets/Kathakali.png" width="2%">
      Kerala Tourism
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-1 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white fs-6" aria-current="page" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white fs-6" routerLink="/overview">Overview</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white fs-6" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Districts
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/district-detailed/0">Thiruvananthapuram</a></li>
            <li><a class="dropdown-item" routerLink="/district-detailed/1">Kollam</a></li>
            <li><a class="dropdown-item" routerLink="/district-detailed/2">Pathanamthitta</a></li>
            <li><a class="dropdown-item" routerLink="/district-detailed/3">Alappuzha</a></li>
            <li><a class="dropdown-item" routerLink="/district-detailed/4">Kottayam</a></li>
            <li><a class="dropdown-item" routerLink="/district-detailed/5">Idukki</a></li>
            <li><a class="dropdown-item" routerLink="/district-detailed/6">Ernakulam</a></li>
            <li><a class="dropdown-item" routerLink="/district-detailed/7">Thrissur</a></li>
            <li><a class="dropdown-item" routerLink="/district-detailed/8">Palakkad</a></li>
            <li><a class="dropdown-item" routerLink="/district-detailed/9">Malappuram</a></li>
            <li><a class="dropdown-item" routerLink="/district-detailed/10">Kozhikode</a></li>
            <li><a class="dropdown-item" routerLink="/district-detailed/11">Wayanad</a></li>
            <li><a class="dropdown-item" routerLink="/district-detailed/12">Kannur</a></li>
            <li><a class="dropdown-item" routerLink="/district-detailed/13">Kasargod</a></li>
          </ul>
        </li>

      </ul>
      <div class="d-flex">
        <div class="nav-item">
          <a class="nav-link fs-6" tabindex="-1" aria-disabled="true" routerLink="/auth">SignUp</a>
        </div>
      </div>
    </div>
  </div>
</nav>