.carouselExampleIndicators{
    overflow-x: hidden;
}
.carousel-caption{
    background-color: rgb(0,0,0,0.15);
    padding:16px;
}
// .welcome-to-kerala{
//     position: absolute;
//     left: 10%;
//     top:20%;
// }