<section class="main-container mt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 order-md-last">
                <div class="card border-0 rounded-4">
                    <div class="card-body p-4 p-md-5">
                        <div class="mb-4">
                            <h2 class="h1">Registration</h2>
                            <h3 class="fs-6 fw-normal text-secondary m-0">Enter your details to register</h3>
                        </div>
                        <form action="#" [formGroup]="loginForm">
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" class="form-control" id="username" name="username"
                                    formControlName="username" required>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email" name="email"
                                    placeholder="name@example.com" formControlName="email">
                                <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
                                    <div *ngIf="loginForm.get('email')?.errors?.['required']">Email is required.</div>
                                    <div *ngIf="loginForm.get('email')?.errors?.['email']">Invalid email format.</div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="dob" class="form-label">Date of Birth</label>
                                <input type="date" class="form-control" id="dob" name="dob" formControlName="dob"
                                    placeholder="DD/MM/YYYY" required>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password" name="password"
                                    formControlName="password">
                                <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                                    <div *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="confirmPassword" class="form-label">Confirm Password</label>
                                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                                    formControlName="confirmPassword">
                                <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                                    <div *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input" id="iAgree" name="iAgree" required>
                                <label class="form-check-label text-secondary" for="iAgree">
                                    I agree to the <a href="#" class="link-primary text-decoration-none">terms and
                                        conditions</a>
                                </label>
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary btn-lg"  [disabled]="loginForm.invalid">Sign
                                    up</button>
                            </div>
                        </form>
                        <div class="mt-4">
                            <p class="text-secondary text-center">Already have an account? <a
                                    class="link-primary text-decoration-none" (click)="emitChange()">Login</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>